.home-container {
    position: relative;
    top: 6rem;
    padding-bottom: 1rem;
}

.anime-container{
    display: flex;
}
.anime-list_container {
    width: 75%;
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.anime-container .wishlist-container{
    position: sticky;
    top: 5rem;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    width: 19rem;
    height: 25rem;
    margin: 3rem 0.2rem 0 0.1rem;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);
}
.wishlist-container h3{
    text-align: center;
}
.wishlist-container span{
    position: absolute;
    opacity: 0.5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}

.filter-container {
    padding: 0 5rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.8rem;
    flex-wrap: wrap;
}

.filter-container .categories {
    border: 1px solid black;
    background-color: white;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    border-radius: 20px;
}

.filter-container .active {
  background-color: black;
  color: white;
}

.filter-container .categories:hover {
    background-color: black;
    color: white;
}

.filter-container label {
    cursor: pointer;
}